.container1{
    background: #222D32;
}

.login-box {
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}



.login-title {
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

.text1 {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #7575c4;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 5px;
    color: #ECF0F5;
}

.password1 {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #7575c4;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 5px;
    margin-bottom: 20px;
    color: #ECF0F5;
}


.form-group1 {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control1:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #7575c4;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}


/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #1A2226 inset !important;
    -webkit-text-fill-color: #ECF0F5 !important;
    box-shadow: 0 0 0 30px #1A2226 inset !important;
    color: #ECF0F5 !important;
} */




.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0px;

}

.btn-outline-primary {
    border-color: #7575c4;
    color: #7575c4;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: center;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}