
.container4{
  background-color: #f5f6fa;
}
.card4 {
  box-shadow: 0 10px 30px 0 rgb(17 38 146 / 5%);
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 10px;
}
.eyeIcon{
    cursor:pointer;
}
.inputBackgd{
  background-color: #fff !important;
}
.forms-inputs {
  position: relative;
  background-color: #fff;
}
.forms-inputs span {
  position: absolute;
  top: -18px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 15px;
}
.forms-inputs input {
  height: 50px;
  border: 2px solid #eee;
  background-color: #fff;
}
.forms-inputs input:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #000;
  background-color: #fff;
}
.btn1 {
  height: 50px;
}
.success-data {
  display: flex;
  flex-direction: column;
}
.bxs-badge-check {
  font-size: 90px;
}
