@media screen and (max-width: 770px) {
    .class-time-table-nav-item {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 1px;
    }
  }