.header-styles{
    color: #838578;
    display: flex;
    align-items: center;
    margin: 10px;
}

.header-styles:hover{
    color: #2B7AE2;
}


.dropdown-main{
    z-index: 999;
}

.dropdown-toggle-menu .dropdown-menu[data-bs-popper] {
    margin-top: 3.5rem !important;
}