.marquee {
    width: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}

.marquee div {
    width: 100%;
    font-size: 2rem;
    font-family: verdana;
    padding-left: 100%;
    display: inline-block;
    animation: animate 10s linear infinite;
    align-self: center;
}

@keyframes animate {
    100% {
        transform: translate(-100%, 0);
    }
}

@media only screen and (max-width: 600px) {
    .item-content{
        min-width:100%;  
      }
  }