
.general__container {
    margin-top: 74px;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  #room__container {
    position: relative;
    display: flex;
    gap: 3rem;
  }
  
  #members__container {
    background-color: #fbfdfb;
    border-right: 1px solid #797a79;
    overflow-y: auto;
    width: 100%;
    max-width: 250px;
    position: fixed;
    height: 100%;
    z-index: 2;
  }
  
  #members__count {
    background-color: #2a62ca;
    border-radius: 50%;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 600;
  }
  
  #members__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    font-size: 18px;
    color: #000;
  }
  
  #member__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 6.5rem;
    color: #000;
  }

  
  
  .members__list::-webkit-scrollbar {
    height: 14px;
  }
  
  .member__wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left: 1em;
  }
  
  .green__icon {
    position: relative;
    display: block;
    bottom: -18px;
    right: 20px;
    height: 12px;
    width: 12px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #2aca3e;
  }
  
  .member_name{
    font-size: 14px;
  }
  
  #messages__container {
    background-color: #fbfdfb;
     position: absolute;
    height: 100vh;
    right: 0;
    width: 100%;
    max-width: 23rem;
    overflow-y: auto;
    border-left: 1px solid #111;
    z-index: 2;
  }
  
  #messages {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  
  .message__wrapper:last-child {
    margin-bottom: 6.5rem;
  }
  
  .message__wrapper {
    gap: 10px;
    margin: 1em;
  }
  
  .message__body {
    border-radius: 10px;
    padding: 10px 15px;
    width: fit-content;
    max-width: 900px;
    background-color: rgb(197, 197, 197);
  }
  
  .messageFromPeer{
    display:flex;
    justify-content: end;
    height:100px;
    text-align: end;
  }
  
  .message__body__bot{
    padding: 0 20px;
    max-width: 900px;
    color: #0c0c0c;
  }
  
  
  .message__author {
    display: block;
    margin-right: 10px;
    color: #2a62ca!important;
  
  }
  
  .message__author__bot {
    margin-right: 10px;
    color: #2a62ca!important;
  
  }
  
  .message__text {
    margin: 0;
    color: #0c0c0c;
  }
  
  #message__form {
    width: 23rem;
    position: fixed;
    bottom: 0;
    display: block;
    padding: 1em;
  }
  
  #message__form input {
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 18px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #2a62ca;
  }
  
  #message__form input:focus {
    outline: none;
  }
  
  #message__form input::placeholder {
    color: #dae2e2;
  }
  
  #stream__container {
    background-color: #1A1A1A;
    justify-content: center;
    width: 100%;
    left: 15.7rem;
    top: clac(100vh - 72px);
    overflow-y: auto;
    height: 100%;
    z-index: 1;
  }

  #stream__box{
    height: 60vh;
    background-color: #3f434a;
    display: none;
  }

  #stream__box .video__container{
  border: 2px solid #000;
  border-radius: 0;
  height: 100% !important;
  width: 100% !important;
  background-size: 300px;
  }
  #stream__box video{
    border-radius: 0;
    }

  #streams__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 25px;
    margin-bottom: 225px;
  }
  .video__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2a62ca;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    height: 300px;
    width:300px ;
    background-image: url('https://t4.ftcdn.net/jpg/03/16/32/23/240_F_316322355_m8FC5EDRun5JOAAHD94CvW1uUScY5IFh.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 75px;
  }
  .video-player {
   height: 100%;
   width: 100%;
  }
  .video-player video{
 border-radius: 50%;
  }

  #leave-btn{
    background-color: rgb(238, 52, 52);
  }
  #chat__button {
    display: block;
  }

  #members__button {
    display: block;
  }
  
  @media (max-width: 1400px) {
    .video__container{
      height: 200px;
      width:200px ;
    }
  }
  @media (max-width: 1200px) {

    #messages__container {
      max-width: 22rem;
    }
  
    #message__form {
      width: 22rem;
    }
  }

 
  
  @media (max-width: 860px) {
    #stream__container {
      width: 100%;
    }

  
    #messages__container {
      display: none;
      z-index: 3;
    }
  
    
  }
  
  #stream__box {
    position: relative;
  }
  
  .stream__focus {
    width: 100%;
    height: 100%;
  }
  
  .stream__focus iframe {
    width: 100%;
    height: 100%;
  }
  
  .stream__actions {
    position: fixed;
    bottom: 1rem;
    border-radius: 8px;
    background-color: #1a1a1a60;
    padding: 1rem;
    left: 50%;
    display: flex;
    gap: 1rem;
    transform: translateX(-50%);
  }
  
  .stream__actions a,
  .stream__actions button {
    cursor: pointer;
    background-color: #262625;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }
  
  .stream__actions a svg,
  .stream__actions button svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #ede0e0;
  }
  
  .stream__actions .active,
  .stream__actions button .active,
  .stream__actions a:hover,
  .stream__actions button:hover {
    background-color: #2a62ca;
  }

  